<!DOCTYPE html>

<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/mareikestyle.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,100" rel="stylesheet"> 
    
    <title> Mareike Ahn's CV </title>
  </head>
  
  <body>
  <div class="container-fluid">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          Mareike S. Ahns - Curriculum Vitae 
      </div>
      <div class="text-right">
        <!--<a class="href_nav" href="/static/docs/" download>Download English CV</a>
        <br>
        <a class="href_nav" href="/static/docs/" download>Deutschen Lebenslauf herunterladen</a>
        <br>
      -->
        <a class="href_nav" href="#contact">Kontaktinformation</a>
      </div>
    </div>
  </div>


    <div class="row header_cv">
        <div id="header_pic" class="col-sm-2">
        </div>
        <div id="header" class="col-sm-10">
        </div>
    </div>
  
    <div class="row main_body1">
    <div class="col-sm-12 text-center">
    <ol class="carousel-linked-nav pagination">
      <li class="active"><a href="#1">Berufserfahrung & Ausbildung</a></li>
      <li><a href="#2">Veröffentlichungen & Fähigkeiten</a></li>
      <li><a href="#3">Gesellschaften & Weiterbildung</a></li>
    </ol>
    </div>
    </div>

    <div class="row main_body1 bold">
    <div class="col-sm-12 text-center">
    <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner main_body1">

    <div class="active item">
    <div class="row main_body1">  
      <div id="workExperience" class="col-sm-6">
        <h2>Berufserfahrung</h2>
      </div>
      <div id="education" class="col-sm-6">
      <h2>Ausbildung</h2>
      </div>
    </div>
    </div>

    <div class="item">
    <div class="row main_body1">  
      <div id="publication" class="col-sm-6">
        <h2>Veröffentlichungen</h2>
      </div>
      <div id="skillsMareike" class="col-sm-6">
        <h2>Fähigkeiten</h2>
      </div>
    </div>
    </div>


    <div class="item">
    <div class="row main_body1">  
      <div id="technicalSociety" class="col-sm-6">
        <h2>Gesellschaften</h2>
      </div>
      <div id="courses" class="col-sm-6">
        <h2>Weiterbildung</h2>
      </div>
    </div>
    </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left control-custom" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right control-custom" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    </div>
    </div>


    <div class="row  main_body1">  
      <div id="languages" class="col-sm-6">
        <h2>Languages</h2>
      </div>
      <div id="interests" class="col-sm-6">
        <h2>Other interests</h2>
      </div>
    </div>

    <div class="row main_body2">
      <div id="contact" class="col-sm-12">
        <h2>Contact me</h2>
      </div>
    </div>

   <div class="row main_body1">
      <div id="mapDiv" class="col-sm-12">
        <h2>Where I've Lived and Worked</h2>
        <div class = "fixedheight" id="map">
        </div> 
      </div>
    </div>


 <!-- Modal --> 
 <div class="modal fade" id="CompSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content compskill-background bold"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="CompSkills">Software</h4> 
      </div> 
      <div id= "CompSkillsText" class="modal-body bold">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>

 <div class="modal fade" id="BusinessAcumen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content busaskill-background bold"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="BusinessAcumen">Business Acumen</h4> 
      </div> 
      <div id= "BusinessAcumenText" class="modal-body bold">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>


  <div class="modal fade" id="TechSkills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content techskill-background bold"> 
      <div class="modal-header"> 
        <h4 class="modal-title" id="TechSkills">Technical Skills</h4> 
      </div> 
      <div id= "TechSkillsText" class="modal-body bold">
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
      </div> 
    </div> 
  </div> 
 </div>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq3GQW_N2--Ldh45UNmEZUZpvRQna7AWQ&libraries=places"
  type="text/javascript"></script>
  <script type="text/javascript" src="js/jquery-2.2.4.js"></script> 
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script src="/js/resume_helper.js"></script>
  <script src="/js/mareike_resumedata.js"></script>




</div>
</div>

</body>
</html>
